/* SCCS Variables */
$scv-accent-color: #882200; 
$scv-accent-font-weight: 600;
$scv-focus-color: #82B1FF;
$scv-focus-width: 5px;
$scv-text-width: 720px;
$scv-font-weight: 400;
$scv-serif-font: "Skolar PE", "Noto Serif", "Skolar Sans PE", "Noto Sans", serif;
$scv-sans-font: "Skolar Sans PE", "Noto Sans", sans-serif;

/* Breakpoints */
$scv-phone: 600px;

/* CSS variables */
:root {
  --scv-text-width: 720px;
  --scv-text-line-height: 1.5;
  --scv-sutta-title-font-size: 36.16px;
  --scv-division-title-font-size: 18.08px;
  --scv-header-margin-bottom: 64px;
  --scv-segment-margin-bottom: 0.5em;
  --scv-text-font-size: 18.08px;
}
@media (width < $scv-phone) {
  :root {
    --scv-text-line-height: 1.4;
    --scv-sutta-title-font-size: 24px;
    --scv-division-title-font-size: 16px;
    --scv-header-margin-bottom: 32px;
    --scv-segment-margin-bottom: 0.3em;
    --scv-text-font-size: 16px;
  }
}

.scv-text {
  line-height: var(--scv-text-line-height);
  max-width: var(--scv-text-width);
}
.scv-root {
  font-family: $scv-sans-font;
}
.scv-trans {
  font-family: $scv-serif-font;
}
.scv-text-root {
  @extend .scv-text;
  @extend .scv-root;
  padding-bottom: 0.3em;
}
.scv-text-trans {
  @extend .scv-text;
  @extend .scv-trans;
  padding-bottom: 0.7em;
}
.scv-matched { // matched pattern
    color: $scv-accent-color;
    font-weight: $scv-accent-font-weight;
}
.scv-icon-btn {
    margin: 0;
    border-radius:5px;
    border: none;
    font-size: 1.25rem !important; /* override .v-btn.v-size--default */
}
.scv-icon-btn svg {
  bottom: 0em !important;
}
.scv-icon-btn:focus, 
.scv-icon-btn:hover {
    border: 2px solid $scv-focus-color;
}

summary:hover,
summary:focus {
  border-radius: $scv-focus-width;
  outline: $scv-focus-color;
  box-shadow: 
    inset $scv-focus-width $scv-focus-width 
        $scv-focus-width 0-$scv-focus-width $scv-focus-color,
    inset 0-$scv-focus-width 0-$scv-focus-width 
        $scv-focus-width 0-$scv-focus-width $scv-focus-color;
}
