$accent-color: #882200; 
$focus-color: #82B1FF;
$focus-width: 5px;

.scv-text-root {
  font-family: "Skolar PE", "Noto Serif", "Skolar Sans PE", "Noto Sans", serif;
  max-width: 90%;
  padding-bottom: 0.3em;
  text-indent: 1em;
}
.scv-text-trans{
  font-family: "Skolar Sans PE", "Noto Sans", sans-serif;
  max-width: 90%;
  padding-bottom: 0.7em;
  text-indent: 1em;
}
.scv-matched { // matched pattern
    color: $accent-color;
    font-weight: 600;
}
.scv-icon-btn {
    margin: 0;
    border-radius:5px;
    border: none;
    font-size: 1.25rem !important; /* override .v-btn.v-size--default */
}
.scv-icon-btn svg {
  bottom: 0em !important;
}
.scv-icon-btn:focus, 
.scv-icon-btn:hover {
    border: 2px solid $focus-color;
}

summary:hover,
summary:focus {
  border-radius: $focus-width;
  outline: $focus-color;
  box-shadow: 
    inset $focus-width $focus-width $focus-width 0-$focus-width $focus-color,
    inset 0-$focus-width 0-$focus-width $focus-width 0-$focus-width $focus-color;
}
