/* CSS variables */
:root {
  --scv-text-width: 45em;
  --scv-text-line-height: 1.5;
  --scv-sutta-title-font-size: 28px;
  --scv-division-title-font-size: 18.08px;
  --scv-header-margin-bottom: 64px;
  --scv-segment-margin-bottom: 0.5em;
  --scv-text-font-size: 16px;
  --scv-sc-sans-font: "Roboto", "Skolar Sans PE", "Noto Sans", sans-serif;
  --scv-sc-serif-font: "Roboto", "Skolar PE", "Noto Serif", "Skolar Sans PE", "Noto Sans", serif;
  --scv-sans-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --scv-sc-sans-font: "Skolar Sans PE", "Noto Sans", sans-serif;
  --scv-sc-serif-font: "Skolar PE", "Noto Serif", "Skolar Sans PE", "Noto Sans", serif;
  --scv-focus-font-weight: 600;
  --scv-focus-color: #882200; 
  --scv-background-color: #FFFFFF;
  --scv-settings-width: 350px;
  --scv-setting-width: 330px;
  --scv-label-color: rgba(0,0,0,0.6);
  --scv-color: #222;
}
@media(width < 600px) {
  :root {
    --scv-text-line-height: 1.4;
    --scv-sutta-title-font-size: 20px;
    --scv-division-title-font-size: 16px;
    --scv-header-margin-bottom: 32px;
    --scv-segment-margin-bottom: 0.3em;
    --scv-text-font-size: 16px;
  }
}

label {
    color: var(--scv-label-color);
}

.scv-checkbox {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 2.0em;
  margin-right: 0.5rem;
  text-indent: -1.8em;
}
.scv-checkbox label {
  color: var(--scv-label-color);
}
.scv-checkbox input {
  margin-left: 0.4em;
  margin-right: 0.4em;
}
.scv-checkbox:focus-within {
  box-shadow: 0 0 3pt 2pt var(--scv-focus-color) ;
}

.scv-app-icon {
}
.scv-app-icon:hover {
    cursor: pointer;
}

.scv-summary {
  margin: 2pt;
  padding-left: 0.4rem;
}
.scv-summary:focus {
  box-shadow: 0 0 3pt 2pt var(--scv-focus-color) ;
}

.scv-select {
  padding: 0.5em;
  text-align: right;
}
.scv-select:focus {
  box-shadow: 0 0 3pt 2pt var(--scv-focus-color);
}
.scv-select-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 0.5rem;
}
.scv-select-container select {
  max-width: 290px;
}

.scv-text {
  line-height: var(--scv-text-line-height);
  max-width: var(--scv-text-width);
}
.scv-root {
  font-family: var(--scv-sans-font);
  font-style: italic;
}
.scv-trans {
  font-family: var(--scv-sans-font);
}
.scv-text-root {
  line-height: var(--scv-text-line-height);
  max-width: var(--scv-text-width);
  font-family: var(--scv-sans-font);
  padding-bottom: 0.3em;
  font-style: italic;
}
.scv-text-trans {
  line-height: var(--scv-text-line-height);
  max-width: var(--scv-text-width);
  font-family: var(--scv-sans-font);
  font-size: var(--scv-text-font-size);
  padding-bottom: 0.7em;
}
.scv-matched { 
  color: #232323;
  font-weight: var(--scv-focus-font-weight);
}
.scv-result-text .scv-matched {
}
.scv-text-container .scv-matched {
  cursor: pointer;
  text-decoration: underline;
}
.scv-text-container .scv-matched:hover,
.scv-text-container .scv-matched:focus {
  color: var(--scv-focus-color);
  text-decoration-color: var(--scv-focus-color);
}

.scv-text-btn {
  margin-left: 1px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1em;
  text-transform: none;
  border: 1pt solid #222;
  height: 24px;
  color: var(--scv-color);
  text-decoration-color: var(--scv-color);
}
.scv-text-btn .v-btn__content {
  font-size: 0.75rem;
  color: var(--scv-color);
}
.scv-text-btn .v-btn__content:hover,
.scv-text-btn:focus-within .v-btn__content {
  color: var(--scv-focus-color);
}
.scv-text-btn:hover,
.scv-text-btn:focus-within {
  color: var(--scv-focus-color);
  border: 1pt solid var(--scv-focus-color);
  outline: 1pt solid var(--scv-focus-color);
  text-decoration: underline;
  text-decoration-color: var(--scv-focus-color);
  color: var(--scv-focus-color);
}

.scv-inspire-row {
    margin: -0.8em 0 0.5em 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.scv-icon-btn {
    margin: 0;
    border-radius:5px;
    border: none;
    font-size: 1rem !important; /* override .v-btn.v-size--default */
}
.scv-icon-btn svg {
  bottom: 0em !important;
}
.scv-icon-btn:focus, 
.scv-icon-btn:hover {
    outline: 2px solid var(--scv-focus-color);
}

summary:hover,
summary:focus {
  border-radius: var(--scv-focus-width);
  outline: var(--scv-focus-color);
  box-shadow: 
    inset var(--scv-focus-width) var(--scv-focus-width) 
        var(--scv-focus-width) 0-var(--scv-focus-width) var(--scv-focus-color),
    inset 0-var(--scv-focus-width) 0-var(--scv-focus-width) 
        var(--scv-focus-width) 0-var(--scv-focus-width) var(--scv-focus-color);
}

.scv-settings {
    background-color: var(--scv-background-color);
    z-index: 100;
}
.scv-settings-detail {
    max-width: var(--scv-settings-width);
    padding-left: 1.2rem;
    padding-bottom: 0.5rem;
}
.scv-settings-title {
    width: var(--scv-setting-width);
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0.1em;
    font-size: 120%;
    font-weight: 500;
    padding-right: 0.2rem;
}
.scv-settings-title:focus {
    border-color: var(--scv-focus-color);
    outline: 1pt solid var(--scv-focus-color);
}
.scv-settings-title .scv-setting-icon {
  width: 1rem;
  height: 1rem;
}
.scv-settings-title .scv-setting-icon svg {
  width: 1rem;
  height: 1rem;
}

.scv-settings-icon {
}
.scv-settings-icon:focus > svg {
  background-color: $focus-color;
  margin-bottom: 5px;
}
.scv-more-menu {
    position: absolute;
    list-style: none;
    top: 3em;
    right: 0;
    min-width: 23em;
    text-align: left;
    border-top: 1pt solid #888;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    padding-top: 0.3em;
    padding-bottom: 0.3rem;
    border: 1pt solid #555;
    border-right: 1pt solid #555;
    border-bottom: 1pt solid #555;
    border-radius: 2pt;
    background-color: var(--scv-background-color);
}

.scv-scid {
    display: inline-block;
    font-size: xx-small;
    color: #888;
    margin-top: 0.6em;
    margin-left: 0.2em;
}
.scv-sutta {
  margin-top: 2em;
}

.scv-results {
  width: 35rem;
}
.scv-result-summary {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-width: 500px;
  max-width: 550px;
}
.scv-result-details summary {
  max-width: 520px;
}
.scv-result-details summary:focus {
  max-width: 520px;
  box-shadow: 0 0 3pt 2pt var(--scv-focus-color) ;
}
.scv-result-text {
  padding-left: 1.15em;
  width: 32rem;
}
@media (width < 600px) {
  .scv-results {
    width: 340px;
  }
  .scv-result-details summary {
    max-width: 305px;
  }
  .scv-result-summary {
    min-width: 240px;
  }
  .scv-result-text {
    max-width: 290px;
  }
}
.scv-result-icons {
  cursor: pointer;
  font-size: 1.25rem;
  margin-top: -0.4em;
  margin-bottom: 0.4em;
}
.scv-result-title {
  padding-left: 3em;
  text-indent: -3em;
  padding-right: 0.5em;
}
.scv-division {
  font-size: var(--scv-division-title-font-size);
  text-align: center;
}
.scv-division-root {
  xfont-variant-caps: all-small-caps; /* ugly without SC font */
  font-feature-settings: normal; /* vs. smcp */
  font-family: var(--scv-sans-font);
  font-style: italic;
}
.scv-division-trans {
  xfont-variant-caps: all-small-caps; /* ugly without SC font */
  font-feature-settings: normal; /* vs. smcp */
  font-family: var(--scv-sans-font);
}
.scv-sutta-title {
  font-size: var(--scv-sutta-title-font-size);
  text-align: center;
  font-weight: 300;
  line-height: 1.3333;
  margin-top: 0.5rem;
  letter-spacing: 0.02em;
}
.scv-sutta-title-root {
  xfont-variant-caps: small-caps; /* ugly without SC font */
  font-feature-settings: normal; /* vs. smcp */
  font-family: var(--scv-sans-font);
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
}
.scv-sutta-title-trans {
  xfont-variant-caps: small-caps; /* ugly without SC font */
  xfont-feature-settings: normal; /* vs. smcp */
  font-family: var(--scv-serif-font);
  padding-left: 1em;
  padding-right: 1em;
}
.scv-text-container {
  font-size: var(--scv-text-font-size);
  line-height: var(--scv-text-line-height);
  margin-left: auto;
  margin-right: auto;
}
.scv-segment {
  margin-bottom: var(--scv-segment-margin-bottom);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.scv-header {
  margin-bottom: var(--scv-header-margin-bottom);
}

.scv-nav-sutta {
    display: flex;
    flex-flow: row noWrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}
.scv-nav-sutta > button {
    width: 8em !important;
}
.scv-nav-btn {
  min-width: 5rem;
  text-transform: uppercase;
}
.scv-nav-btn {
  min-width: 5rem;
  background-color: transparent;
  border: none;
}
.scv-nav-btn-disabled svg {
  min-width: 5rem;
  color: rgba(127,127,127,0.25);
}
